<div class="icart-footer">
  <div class="icart-footer-top">
    <div style="width:1000px; margin:0 auto;"> </div>
  </div>
  <div class="icart-footer-container">
    <div class="clearfix"></div>
  </div>
  <div class="icart-footer-bottom">
    <div style="width:1000px; margin:0 auto;">
      <div class="icart-logo-footer"></div>
      <ul>
        <li style="float:right;padding-top:10px;list-style:none;">&copy; Copyright &copy; 2014.Leey.</li>
      </ul>
      <div class="clearfix"></div>
    </div>
    <br>
  </div>
</div>